.app {
	height: 100vh;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 70% 30%;
}

.part {
	border: 3px solid black;
}



.log {
	display: grid;
	grid-template-columns: 70% 30%;
}

.actionsPanel {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.actionsPanel button {
	text-align: left;
	padding: 10px;
	margin-bottom: 3px;
	font-size: 15px;
}